// edit once, update throughout
@mixin toolbar-font() {
  color: #000;
  font-family: $font-family-base;
  font-size: rem(12px);
  font-weight: 700;
}

// toolbar parent element
&-toolbar {
  box-shadow: $box-shadow-01;
  background-color: #fff;

  // the body of the toolbar itself that wraps the features
  .popover-body {
    display: flex;
    padding: 0;
  }

  // wrapper for each button in the toolbar
  .toolbar-btn {
    @include toolbar-font();
    align-items: center;
    background-color: transparent;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 60px;

    .ico {
      color: #000;
      font-size: rem(20px);
      margin-bottom: rem(6px);
    }
  }

  // photo upload div container (different than the buttons)
  .photo-upload {

    .custom-file {
      @include toolbar-font();
      background-color: transparent;
      height: auto;
      max-height: 18px;
      margin: 0;
      padding: 0;

      &-input {
        height: auto;
        max-height: 18px;
      }

      &-label {
        background-color: transparent;
        border: 0;
        height: auto;
        padding: 0;
        margin: 0;

        &:after {
          display: none;
        }
      }
    }
  }
}
